@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-1">Hotel Ostra Cebula</h1>    
</div>

<div class="main-home-menu">
    <div class="main-menu-row">
        <div>
            <a class="display-4">Lista pokoi</a>
        </div>
        <div>
            <a class="display-4">Cennik</a>
        </div>
        <div>
            <a class="display-4">Składanie rezerwacji</a>
        </div>
    </div>
</div>