@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-1">Hotel Ostra Cebula</h1>    
</div>

<div class="main-home-menu">
    <div class="main-menu-row">
        <div>
            <a class="display-4" asp-controller="Home" asp-action="Rooms">Lista pokoi</a>
        </div>
    </div>
</div>