@{
    ViewData["Title"] = "Panel zarządzania";
    Layout = "_AdminLayout";
}

<div class="text-center">
    <h1 class="display-1">System zarządzania hotelem</h1>
    
</div>

<div class="main-home-menu">
    <div class="main-menu-row">
        <div class="menu-column1">
            <a class="display-4" asp-controller="Home" asp-action="Rooms">Pokoje</a>
        </div>
        <div class="menu-column2">
            <a class="display-4" asp-controller="Administration" asp-action="ReservationList">Rezerwacje</a>
        </div>
    </div>
    <div class="main-menu-row">
        <div class="menu-column1">
            <a class="display-4" asp-controller="Administration" asp-action="UsersList">Użytkownicy</a>
        </div>
    </div>
</div>