@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "Lista użytkowników";
    Layout = "_AdminLayout";
}

<h2>Lista użytkowników</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa użytkownika</th>
            <th>Adres email</th>
            <th>Numer telefonu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>               
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>